body { background: #7744be; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 20px; display: flex; }
.block-order-0 { color: #72af88; font-size: 16px; margin-bottom: 5px; }
.block-invoice-1 { color: #b8c23c; font-size: 21px; margin-bottom: 5px; }
.block-notify-2 { color: #f1e2d0; font-size: 18px; margin-bottom: 5px; }
.block-logger-3 { color: #895ad; font-size: 20px; margin-bottom: 5px; }
.block-logger-4 { color: #6a6a59; font-size: 20px; margin-bottom: 5px; }
.block-validator-5 { color: #9a7877; font-size: 20px; margin-bottom: 5px; }
.block-database-6 { color: #da0356; font-size: 15px; margin-bottom: 5px; }
.block-product-7 { color: #80862f; font-size: 17px; margin-bottom: 5px; }